# UCF for a Nexys2 500K board

NET "osc_clk" LOC = "B8";

# serial port receive & transmit
NET "RxD" LOC = "U6";
NET "TxD" LOC = "P9";

# TTL level serial port: ja3 = rxd, ja2 = txd
NET "extminer_txd<0>" LOC = "K12";
NET "extminer_rxd<0>" LOC = "L17";
